@import url('./components/header.css');
@import url('./components/fotorama.css');
@import url('./components/slider.css');
@import url('./components/menu.css');
@import url('./components/social-networks.css');
@import url('./components/contacts.css');
@import url('./components/footer.css');
@import url('./components/preloader.css');

body
{
  background-color: black;
}

.wrapper
{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.card-menu
{
  display: flex;
  flex-direction: row;

  width: 100%;
  padding: 2rem 0;

  border-top: 2px solid gray;
  border-bottom: 2px solid gray;

  justify-content: space-between;
}

.title
{
  text-align: center;

  color: white;
}

.social-networks
{
  margin: 2rem 0;
}

@media screen and (max-width:960px)
{
  .card-menu
  {
    border-bottom: none;

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .card-menu-item
  {
    margin: 1em 0;

    border-bottom: 2px solid gray;
  }
}