.card-menu-item
{
  position: relative;

  width: 18.75em;
  height: 15.6em;
}

.card-menu__pop-up-menu
{
  overflow: hidden;

  height: 12.5em;
}

.card-menu__hover
{
  font-size: .8em;

  position: relative;
  z-index: 2;

  display: flex;

  width: 100%;
  height: 3em;

  transition: 300ms;

  color: white;
  background-color: rgba(0, 0, 0, .6);

  justify-content: center;
  align-items: center;
}

.card-menu__hover p
{
  font-family: Tahoma, sans-serif;

  background-color: rgba(0, 0, 0, 0);
}

.card-menu__name
{
  text-align: center;

  color: white;
}

.card-menu__pop-up-menu img
{
  position: relative;
  z-index: 1;

  width: 100%;
  height: 100%;
}

a
{
  text-decoration: none;
}

.card-menu__link
{
  display: block;
}

.card-menu-item .card-menu__link:hover .card-menu__hover
{
  transform: translateY(-3em);
}

@media screen and (max-width:960px)
{
  .card-menu__hover
  {
    transform: translateY(-3em);
  }
}
